body{

     border: solid white;
     // width: max-content;
     // height: max-content;
     
     .nav{
     
          
              position: fixed;   
              z-index: 1;
      
     
     
     .emporium{
          text-align: center;
     }
     
     .menu{
     
          p{
               cursor: pointer;
          }
          
          .nightModeCo{
               
               .light{
                    background-color: white;
                    border-radius: 5px ;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
               }
               .night{
                    background-color: black;
                    border-radius: 5px;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
               }
               .a{
                    background-color: grey;
                    cursor: pointer;
                    color: white;
               }
     
          }
          
     }

     .menu>p:hover{
          color: grey ;
     }
     
     
     }
}




@media (min-width : 320px) and (max-width: 1350px){

     .nav{
          display: flex;
          flex-direction: column;
          width: 100%;

     }

     .menu{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          p{
               cursor: pointer;
          }
          
          .nightModeCo{
               
               .light{
                    background-color: white;
                    border-radius: 5px ;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
               }
               .night{
                    background-color: black;
                    border-radius: 5px;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
               }
               .a{
                    background-color: grey;
                    cursor: pointer;
                    color: white;
               }
     
          }
         
     }

     .menu>p:hover{
          color: grey ;
     }
     
     
     

}

@media (min-width : 1351px){
     .nav{
          display: flex;
          flex-direction: column;
          width: 100%;
     }

     .menu{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          margin-left: 15%;
         
     }

     .changeNav{
          background-color: white;
          position: fixed;   
          width: 100%;
          z-index: 1;
     
          .emporium{
               position: absolute;
              bottom: 5%;
          }
          
          .menu{
          
               p{
                    cursor: pointer;
               }
               
               
               .nightModeCo{
                    
                    .light{
                         background-color: white;
                         border-radius: 5px ;
                         width: 18px;
                         height: 18px;
                         cursor: pointer;
                    }
                    .night{
                         background-color: black;
                         border-radius: 5px;
                         width: 18px;
                         height: 18px;
                         cursor: pointer;
                    }
                    .a{
                         background-color: grey;
                         cursor: pointer;
                         color: white;
                    }
                    

          
               }
               
          }
      
     
     }
}