// body{
//      margin: 0;
// }
// .section1{

//      .divShop{
//           background-color: #F3F3F3;
//           display: flex;
//           height: 500px;
//           margin-top: 2%;

//           .h2h1pb{
//                border: red solid;
//                height: 300px;
//                // width: 40%;
               
//                margin-left: 15%;
//                margin-top: 5%;

//                h2{
//                     color: rgb(246, 88, 88);
//                     font-size: 40px;
//                     margin: 0;
//                     padding: 0;
//                }

//                h1{
//                     font-size: 70px;
//                     margin: 0;
//                     padding: 0;
//                }

//                button{
//                     background-color: rgb(246, 88, 88);
//                     border: none;
//                     border-radius: 10px;
//                     width: 100px;
//                     height: 30px;
//                     color: rgb(241, 229, 229);
//                }
//           }

//           .divImg1{
//                img{
//                     height: 400px;
//                     margin-top: 15%;
//                     margin-left: 40%;
//                }
//           }

          
          
//      }
// }


@media (min-width : 320px) and (max-width: 1350px){

     body{
          margin: 0;
     }
     .section1{
     
          .divShop{
               background-color: #F3F3F3;
               display: flex;
               
               margin-top: 2%;
               flex-wrap: wrap;
               justify-content: center;
     
               .h2h1pb{
                    
                    height: 300px;
                    
                    
                    margin-left: 5%;
                    margin-top: 5%;
     
                    h2{
                         color: rgb(246, 88, 88);
                         font-size: 40px;
                         margin: 0;
                         padding: 0;
                         background-color: #F3F3F3;
                         text-align: start;
                    }
     
                    h1{
                         font-size: 60px;
                         margin: 0;
                         padding: 0;
                    }
     
                    button{
                         background-color: rgb(246, 88, 88);
                         border: none;
                         border-radius: 10px;
                         width: 100px;
                         height: 30px;
                         color: rgb(241, 229, 229);
                    }
               }
     
               .divImg1{
                    img{
                         height: 400px;
                         margin-top: 15%;
                         margin-left: 40%;
                         display: none;
                    }
               }
     
               
               
          }
     }

}

@media (min-width : 1351px){
     
     body{
          margin: 0;
     }
     .section1{

          margin-top: 5%;
     
          .divShop{
               background-color: #F3F3F3;
               display: flex;
               height: 500px;
               margin-top: 2%;
     
               .h2h1pb{
                    
                    height: 300px;
                    width: 40%;
                    
                    margin-left: 15%;
                    margin-top: 5%;
     
                    h2{
                         color: rgb(246, 88, 88);
                         font-size: 40px;
                         margin: 0;
                         padding: 0;
                         background-color: #F3F3F3;
                         text-align: start;

                         
                    }
     
                    h1{
                         font-size: 70px;
                         margin: 0;
                         padding: 0;
                    }
     
                    button{
                         background-color: rgb(246, 88, 88);
                         border: none;
                         border-radius: 10px;
                         width: 100px;
                         height: 30px;
                         color: rgb(241, 229, 229);
                    }
               }
     
               .divImg1{
                    img{
                         height: 400px;
                         margin-top: 15%;
                         margin-left: 40%;
                    }
               }
     
               
               
          }
     }

}
